@import "../../styles/base.scss";

.swimminglane-header-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  align-items: center;
  font-size: 1.2em;
  background-color: $grey-light;
  height: 2em;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .title {
    font-weight: 500;
    color: $black;
    margin-left: 15px;
  }

  .items {
    color: $grey-dark;
    font-weight: 300;
    margin-left: 10px;
  }

  .actions {
    justify-self: end;
    margin-right: 1em;
    color: $grey-dark;
    font-size: 0.9em;
  }
}
