@import "../../styles/base.scss";

.header_container {
  height: 4em;
  background-color: $blue;
  margin: 0;
  font-weight: 400;
  border: 0;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.navigation_title {
  margin-left: 1em;
  font-size: 2em;
  color: $white;
  font-weight: 800;
}

.user_icon {
  justify-self: end;
  margin-right: 1em;
}
